.App {
 background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
input{width: 50%;height: 2vh;margin-top: 2.5%;margin-bottom: 2.5%;font-size: 1rem;padding: 5px;}
button{width: fit-content;font-size: 1rem;height: 5vh;margin-left: 1rem;}
.form{display: flex;justify-content: center;align-items: center;}
.recipe{display: flex;justify-content: center;flex-direction: column; margin: 1.2rem;
 min-width: 40%; align-items: center;background-color: white;border-radius: 1rem; box-shadow: 0rem .2rem 1.2rem;}
  .content{display: flex; flex-wrap: wrap; justify-content: space-around;}
.title{font-size: 1.5rem;font-style: bold;font-weight: bold;}
img{border-radius: 50%;}
.cal{font-size: .8rem;}


